Checks: >-
  boost-*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type
HeaderFilterRegex: '.*'
